<div class="btn-group btn-group-justified btn-group-sm">
  <a class="{{'active' if limit == 64}} btn btn-default" href="{{update_query_argument('limit', 64)}}">Top 64</a>
  <a class="{{'active' if limit == 256}} btn btn-default" href="{{update_query_argument('limit', 256)}}">Top 256</a>
  # if person_dbs
    <a class="btn btn-success" href="{{url_for('organization')}}">Organizations</a>
    <a class="btn btn-success" href="{{url_for('repo')}}">Repositories</a>
  # endif
  # if organization_dbs
    <a class="btn btn-success" href="{{url_for('person')}}">People</a>
    <a class="btn btn-success" href="{{url_for('repo')}}">Repositories</a>
  # endif
  # if repo_dbs
    <a class="{{'active' if limit == 1024}} btn btn-default" href="{{update_query_argument('limit', 1024)}}">Top 1024</a>
    <a class="btn btn-success" href="{{url_for('person')}}">People</a>
    <a class="btn btn-success" href="{{url_for('organization')}}">Organizations</a>
  # endif
</div>
